html {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #212121;
    letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

:root {
    --bgd-color: #2F303A;
    --accent-color: #2196F3;
    --special-color: #188CE8;
    --p-color: #757575;
    --milk-color: #F5F4FA;
    --main-color: #212121;
    --clear-gray-color: rgba(255, 255, 255, 0.6);
    --light-gray-color: rgba(238, 238, 238, 1);
    --white-color: #fff;
    --black-color: #000;
    --form-icon-color: #212121;
    --primary-icon-color: #afb1b8;
    --hover-icon-color: #ffffff;
    --primary-text-color: #757575;
	--secondary-text-color: rgba(255, 255, 255, 0.6);
	--rare-text-color: #ffffff;
	--title-text-color: #212121;
	--primary-icon-color: #afb1b8;
	--hover-icon-color: #ffffff;
	--form-icon-color: #212121;
	--accent-color: #2196f3;
	--btn-color: #188ce8;
	--primary-bgc: #ffffff;
	--secondary-bgc: #2f303a;
	--tertiary-bgc: #f5f4fa;
	--card-set-gap: 30px;
	--header-border: 1px solid #ececec;
	--portfolio-border: 1px solid #eeeeee;
    --transition-bgc: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        --transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        --transition-border: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        --transition-box-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        --transition-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        --transition-opacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        --transition-modal: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.link {
    text-decoration: none;
}


.list {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*-----HEADER----*/
.page-header {
font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    border-bottom: 1px solid #ECECEC;
}

.header-alignment {
    display: flex;
    align-items: center;

}

.logo-header {
    color: var(--black-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    margin-right: 93px;
}

.logo-part {
    color: var(--accent-color);
}



.adress-icon {
    display: inline-block;
        margin-right: 10px;
        fill: var(--p-color);
}



.contacts-item {
    align-items: baseline;
    transition: var(--transition-color)
}

.menu-alignment {
    display: flex;
    gap: 50px;
}

.main-menu {
    color: inherit;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: block;
    padding: 32px 0;
}

.link:hover,
.link:focus,
.current,
.contacts-header:hover,
.contacts-item:hover,
.adress-icon:hover .client-link:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
    transition: var(--transition-color)
}

.current{
    color: var(--accent-color);
    position: relative;
}

.current::after{
            position: absolute;
            bottom: -1px;
            left: 0;
            content: "";
    
            width: 100%;
            height: 4px;
            border-radius: 2px;
    
            animation-name: changeScale;
            animation-duration: 1000ms;
            animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            background-color: var(--accent-color);
        }

@keyframes changeScale {
    0% {
        transform: translateX(-100%);
    }

    25% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(0) scale(1);
    }

    51% {
        transform: scaleX(1);
    }

    75% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

.contacts-alignment {
    display: flex;
    margin-left: auto;
    gap: 50px;
}

.contacts-header {
    display: flex;
        align-items: center;
        transition: var(--transition-color);
        letter-spacing: 0.02em;
        color: var(--p-color);
        font-weight: 500;
        font-size: 14px;
}

.contacts-header:hover .adress-icon {
    color: var(--accent-color);
    fill: var(--accent-color);
}
/*---------------------------------------------------*/

/*---------------HERO-----------*/
.hero {
    background-color: var(--bgd-color);
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../img/Img.jpg);
    margin: auto;
    background-repeat: no-repeat;
    width: 1600px;
    height: 600px;
    padding: 200px 0px;
    background-position: center;
    background-size: cover;
}

.hero-container {}

.header-hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
}



.hero-button {
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    font-family: inherit;
    transition: var(--transition-bgc);
}

.hero-button:hover,
.hero-button:focus{
    background-color: #188ce8;
}
/*------------------------------------*/

/*----------------MODAL-------------*/
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop
    {
        position: fixed;
        top: 0;
        left: 0;
    
        width: 100vw;
        height: 100vh;
    
        opacity: 1;
        transition: opacity var(--transition-modal), visibility var(--transition-modal);
    
        background-color: rgba(0, 0, 0, 0.2);
    }

.backdrop.is-hidden .modal{
    transform: translate(50%, 50%) scale(0)perspective(400px) rotateX(90deg);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	padding: 40px;

	width: 528px;
	height: 581px;

	transition: transform var(--transition-modal);

	background-color: var(--white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.modal-button{
    position: absolute;
	top: 8px;
	right: 8px;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 30px;
	height: 30px;

	cursor: pointer;

	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
background-color: transparent;
	transition: var(--transition-color);
}

.modal-button:hover
{
    color: var(--accent-color);
}


.modal-icon{
    fill: currentColor;
}

.main-page-button:hover .main-page-button:focus {
    background-color: var(--special-color);
}

.list-work-warp{
    position: relative;
        overflow: hidden;
}
/*--------------------------------------*/

/* ---------------ФОРМА-----------  */

.modal-title {
	margin-bottom: 12px;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;

	color: var(--title-text-color);
}

.form-field__label {
	display: block;
	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;

	color: #757575;
}

.form-field__wrapper {
	position: relative;
	margin-bottom: 10px;
}

.form-field__input {
	padding-left: 42px;
	padding-right: 15px;

	width: 100%;
	height: 40px;

	font-size: 16px;
	line-height: 1;
	color: var(--primary-text-color);

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: var(--transition-border);
    outline: none;
}

.form-field__commentary:focus,
.form-field__input:focus {
	border: 1px solid var(--accent-color);
}

.form-field__icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);

	fill: var(--form-icon-color);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus + .form-field__icon {
	fill: var(--accent-color);
}

.order-form__form-field {
	margin-bottom: 20px;
}

.form-field__commentary {
	display: block;
	padding: 12px 16px;

	width: 100%;
	height: 120px;
	resize: none;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--primary-text-color);

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: var(--transition-border);
}

.form-field__commentary::placeholder {
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.01em;

	color: rgba(117, 117, 117, 0.5);
}
/*--------------------------------------------*/

/*-------------------CHECKBOX----------------*/
.checkbox-wrapper {
	padding: 0 12px;
	margin-bottom: 30px;
}

.checkbox-wrapper__label {
	position: relative;
	display: flex;
	align-items: center;

	font-size: 14px;
	line-height: 1.71;

	color: var(--p-color);
}

.checkbox-wrapper__checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.checkbox-wrapper__icon {
	display: inline-block;
	margin-right: 8px;

	width: 16px;
	height: 15px;
	border: 2px solid var(--form-icon-color);
	border-radius: 2px;
	transition: var(--transition-bgc), var(--transition-border);
}

.checkbox-wrapper__icon--checked {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);

	border-color: transparent;
}

.checkbox-wrapper__checkbox:checked + .checkbox-wrapper__icon {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}

.checkbox-wrapper__checkbox:focus + .checkbox-wrapper__icon {
	border-color: var(--accent-color);
}

.checkbox-wrapper__link {
	color: var(--accent-color);
}

.order-form__btn-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.order-form__btn {
	padding: 10px 52px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;

	color: var(--rare-text-color);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	transition: var(--transition-bgc);
	cursor: pointer;
}

.order-form__btn:hover,
.order-form__btn:focus {
	background-color: var(--btn-color);
}
/*------------------------------------------*/

/*--------------------PRIORITET----------*/
.list-work-text{
    position: absolute;
        bottom: 0;
        padding: 27px 15px;
        width: 100%;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
        color: var(--milk-color);
        background-color: rgba(47, 48, 58, 0.8);
}

.list-experience{
    position: relative;
}

.list-experience:hover .list-work-text{
    transform: translateY(0%);
        transition: transform 250ms linear;
}

.alignment {
    display: flex;
    gap: 30px;

}

.section-feature {
    padding-top: 94px;
}

.feature-containt {
    width: 270px;
}

.feature-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.feature-paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--p-color);
}

.icons-feature {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.index-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 50px;
}

.team {
    background-color: var(--milk-color);
}

.team-container {}

.team-card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
    text-align: center;
}

.team-containt {
    padding: 30px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;

}

.team-post {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--p-color);
    margin-bottom: 16px;

}


.team-soc {
    display: flex;
    justify-content: space-evenly;
}

.team-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color:#afb1b8;
    background-color: transparent;
    transition: var(--transition-bgc)
}


.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--accent-color);
    color:var(--white-color)
}



.team-soc-icon {
    display: inline-flex;
    fill: currentColor;
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
   
}


.client-icon{
    display: inline-flex;
    fill: currentColor;
}

.client-list {
    display: flex;
    gap: 30px;
   
}


.client-link {
  display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;

    transition: var(--transition-color), var(--transition-border), var(--transition-bgc);

    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.client-link:hover,
.client-link:focus {
    border: 1px solid #2196F3;
    color: var(--accent-color);
}

/*----------FOOTER------------*/
footer {
    background-color: var(--bgd-color);
    padding: 60px 0;
    display: flex;
    align-items: baseline
}

.logo-footer {
    color: var(--white-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    display: block;

}

address {
    font-family: inherit;
    font-style: normal;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.adress{
    margin-right: 70px;
}

.contacts-footer {
    color: var(--clear-gray-color);
    display: flex;
}

.adress-footer {
    color: var(--white-color);
    display: flex;
}

.soc-title {
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-soc {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: var(--transition-bgc);
}

.soc-footer {
    margin-right: auto;
}


.footer-soc-link:hover {
    background-color: var(--accent-color);
    transition: var(--transition-color);
}

.footer-soc-link:focus {
    background-color: var(--accent-color);
}

.footer-soc-link:hover .footer-soc-icon {
    fill: var(--white-color);
}

.footer-soc-icon {
    fill: var(--white-color)
}

.footer__text{
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--rare-text-color);
}

.subscription-form__wrapper {
	display: flex;
}

.subscription-form__input {
	display: block;
	margin-right: 12px;
	padding: 14px 16px;

	min-width: 358px;

	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;

	color: var(--secondary-text-color);
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	transition: var(--transition-border);
}

.subscription-form__input::placeholder {
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;

	color: var(--secondary-text-color);
}

.subscription-form__input:focus,
.subscription-form__input:focus {
	border: 1px solid var(--accent-color);
}

.subscription-form__submit {
	display: flex;
	align-items: center;
	padding: 10px 28px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;

	color: var(--rare-text-color);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	transition: var(--transition-bgc);
	cursor: pointer;
}

.subscription-form__submit:hover,
.subscription-form__submit:focus {
	background-color: var(--btn-color);
}

.subscription-form__icon {
	margin-left: 10px;
}

/*---------------------------------------*/
.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.filter {
    cursor: pointer;
    background-color: var(--milk-color);
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-family: inherit;
    border-color: transparent;
    transition: var(--transition-bgc),var(--transition-color),var(--transition-box-shadow);
}

.filter:focus,
.filter:hover{
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
}

.project:hover .project-text{
    transform: translateY(0%);
    transition: transform 250ms linear;
}

.project-text-warp{
    position: relative;
    overflow: hidden;
}

.project-text{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        padding: 63px 24px;
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(100%);
        transition: transform 250ms linear;
}

.project-border {
    border: 1px solid var(--light-gray-color);
    background-color: var(--white-color);
    border-top: none;
    padding: 20px 24px;
}

.project-link {
    display: block;
    transition: var(--transition-box-shadow);
}


.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}


.project-link:hover .project-text,
.project-link:focus .project-text{
    transform: translateY(0);
}


.project-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--main-color);
    text-align: left;
    margin-bottom: 4px;
}

.project-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--p-color);
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}